# Bayes

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('spam_df.csv')
df

          SPAM  HAM
Emails      14   12
Words       70   46
Bill         1    1
Million      2    1
Gift         1    4
Money        0    1
Access       5    4
Free         8   12
Purchase    14   22
Cash        31    1
Coupon       7    0
Online       1    0

In [3]:
sentence = 'Gift Purchase Offer Access Money Million Investment'
sntnc = sentence

In [4]:
words = np.array(sntnc.split())

In [39]:
W = dict()

for word in words:
    if word in df.index:
        W[word] = df.loc[word,'SPAM'] + 1
    else:
        W[word] = 1
        
P_spam = df.loc['Emails', 'SPAM'] / (df.loc['Emails', 'SPAM'] + df.loc['Emails', 'HAM'])
W_spam = df.shape[0] - 2 + df.loc['Words', 'SPAM']

ln_P_spam = np.log(P_spam)
ln_P_W_spam = (lambda lst,x: np.log(lst / x))(list(W.values()), W_spam)

y_8_spam = sum(ln_P_W_spam, ln_P_spam)
y_8_spam

-25.00165651156507

In [40]:
W = dict()

for word in words:
    if word in df.index:
        W[word] = df.loc[word,'HAM'] + 1
    else:
        W[word] = 1
        
P_ham = df.loc['Emails', 'HAM'] / (df.loc['Emails', 'SPAM'] + df.loc['Emails', 'HAM'])
W_ham = df.shape[0] - 2 + df.loc['Words', 'HAM']

ln_P_ham = np.log(P_ham)
ln_P_W_ham = (lambda lst,x: np.log(lst / x))(list(W.values()), W_ham)

y_8_ham = sum(ln_P_W_ham, ln_P_ham)
y_8_ham

-21.209987321462286

In [44]:
P = 1 / (1 + np.exp(y_8_ham - y_8_spam))
P

0.022060282926234485

In [42]:
P_spam

0.5384615384615384

# KNN

In [53]:
import numpy as np
import pandas as pd

df = pd.read_csv('KNN.csv')

In [54]:
k = 3
X = 67
Y = 95

df['Euclid'] = ((df.X - X)**2 + (df.Y - Y)**2)**0.5
df['Manhattan'] = abs(df.X - X) + abs(df.Y - Y)

df.loc[df.Class == 0, 'Class'] = -1

df = df.sort_values('Euclid').reset_index()

print('Евклид:\nРасстояние до ближайшего соседа =', df.Euclid[0])
print('ID первых k-соседей:', list(df[0:3].id))
print('Новый класс = ', sum(df.Class[0:k]))

df = df.sort_values('Manhattan')

print('\nМанхэттен:\nРасстояние до ближайшего соседа =', df.Manhattan[0])
print('ID первых k-соседей:', list(df[0:3].id))
print('Новый класс = ', sum(df.Class[0:k]))

Евклид:
Расстояние до ближайшего соседа = 14.035668847618199
ID первых k-соседей: [8, 10, 3]
Новый класс =  1

Манхэттен:
Расстояние до ближайшего соседа = 15
ID первых k-соседей: [8, 10, 9]
Новый класс =  -1

In [55]:
df

   index  id   X   Y  Class     Euclid  Manhattan
0      7   8  81  96      1  14.035669         15
1      9  10  82  70     -1  29.154759         40
3      8   9  32  90     -1  35.355339         40
2      2   3  46  69      1  33.421550         47
4      3   4  33  67     -1  44.045431         62
6      1   2  47  50     -1  49.244289         65
5      0   1  42  53     -1  48.877398         67
7      6   7  76  37     -1  58.694122         67
8      5   6  40  22     -1  77.833155        100
9      4   5  10  37     -1  81.320354        115